@model VoloDeposit.Areas.Admin.ViewModel.SearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Deposit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <div style="float:left">
                @Html.Label("Client's First name")
                <br />
                @Html.TextBox("FirstName", "", new { @class = "textBox", placeholder = "First name" })
                <br /><br />
                @Html.Label("Bank Name")
                <br />
                @Html.TextBox("BankName", "", new { @class = "textBox", placeholder = "Bank" })
                <br /><br />
                @Html.Label("Deposit Amount from")
                <br />
                @Html.TextBox("MinAmount", "", new { @class = "textBox", placeholder = "Amount From" })
                <br /><br />
                @Html.Label("Start date from ")
                <br />
                @Html.TextBox("MinStartDate", "", new { @class = "textBox", placeholder = "Start date from" })
            </div>
            <div>
                @Html.Label("Client's Last name")
                <br />
                @Html.TextBox("LastName", "", new { @class = "textBox", placeholder = "Last name" })
                <br /><br />
                @Html.Label("Deposit type")
                <br />
                @*@Html.TextBox("DepositType", "", new { @class = "textBox", placeholder = "First name" })*@
                @*@Html.DropDownList("DepositType", new SelectList(AllDeposits.GetAll.Select(m => m.Name)), new { @class = "textBox" })*@
                @Html.TextBox("MaxAmount", "", new { @class = "textBox", placeholder = "To" })
                <br /><br />
                @Html.Label("To")
                <br />
                @Html.TextBox("MaxAmount", "", new { @class = "textBox", placeholder = "To" })
                <br /><br />
                @Html.Label("To")
                <br />
                @Html.TextBox("MaxStartDate", "", new { @class = "textBox", placeholder = "To" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Index" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}